selected_scheme scheme-small
TEXDIR /Users/TEACHER/Library/SchoolTeX/2026
TEXMFCONFIG /Users/TEACHER/Library/SchoolTeX/2026/texmf-config
TEXMFHOME /Users/TEACHER/Library/texmf
TEXMFLOCAL /Users/TEACHER/Library/SchoolTeX/texmf-local
TEXMFSYSCONFIG /Users/TEACHER/Library/SchoolTeX/2026/texmf-config
TEXMFSYSVAR /Users/TEACHER/Library/SchoolTeX/2026/texmf-var
TEXMFVAR /Users/TEACHER/Library/SchoolTeX/2026/texmf-var
binary_universal-darwin 1
instopt_adjustpath 0
instopt_adjustrepo 1
instopt_letter 0
instopt_portable 0
instopt_write18_restricted 1
tlpdbopt_autobackup 1
tlpdbopt_create_formats 1
tlpdbopt_install_docfiles 0
tlpdbopt_install_srcfiles 0
